@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.reusable-table-container {
    flex-grow: 1;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: auto;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    padding: 12px 15px;
    text-align: left;
}

.data-table td{
    font: normal 20px 'Open Sans', sans-serif;
}

.data-table th {
    background-color: #262532;
    color: white;
    font-weight: normal;
    font: italic 20px 'Merriweather', serif;
    padding: 12px 15px;
}

.data-table tbody tr:nth-child(odd) { background-color: #ffffff; }

.data-table tbody tr:nth-child(even) { background-color: #edf5ff; }

.data-table .actions {
    text-align: center; /* Căn giữa các icon */
}

.action-icon {
    width: 35px;
    height: 35px;
    margin: 0 5px;
    cursor: pointer;
    vertical-align: middle;
    transition: transform 0.2s ease;
}

.action-icon:hover {
    transform: scale(1.2);
}